<html>
	<head>
	    <title>Inserir</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<form action="/insert" method="POST" modelAttribute="aluno">
		
  			Nome Aluno:<br>
  			<input type="text" name="name"><br>
  			<br>
  			Email Aluno:<br>
  			<input type="text" name="email"><br>
  			<br>
  			Faculdade:<br>
  			
  			<!--
  			<select th:field="*{aluno.faculdade}">
  				<option th:each="f : ${faculdades}" th:value="${f.id}" th:text="${f.name}"></option>
			</select>
			-->
			
			<select name="faculdade_id">
  				<option th:each="f : ${faculdades}" th:value="${f.id}" th:text="${f.name}"></option>
			</select>
  			
  			<input type="submit" value="Inserir">
		</form>
	</body>
</html>