<html>
	<head>
	    <title>Atualizar</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<form action="/update" method="POST" modelAttribute="aluno">
		
			ID:<br>
  			<input type="text" name="id" th:value="${aluno.id}" readOnly="true"><br>
  			<br>
  			Nome Aluno:<br>
  			<input type="text" name="name" th:value="${aluno.name}"><br>
  			<br>
  			Email Aluno:<br>
  			<input type="text" name="email" th:value="${aluno.email}"><br>
  			
  			<input type="submit" value="Atualizar">
		</form>
	</body>
</html>